<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
</head>

<body>
    <header id="mainHeader" class="@TempData["Role"]">
        <a href="index.html">
            <img src="~/images/logoSoundTogetherH.svg" alt="Logo de la plateforme" id="logo">
        </a>
        <nav id="mainNav">
            <ul>
                <li><a href=#>Catalogue</a></li>
                <li><a href=# class="buttonNav">Espace personnel</a></li>
                @* <li><a href=# class="buttonNav"><img src="~/images/iconeDeconnexion.png" alt="Icone déconnexion" id="iconeNav"></a></li> *@
                <li>
                    <a href="@Url.Action("Disconnection", "Login")" class="buttonNav">
                        <img src="~/images/iconeDeconnexion.png" alt="Icone déconnexion" id="iconeNav">
                        @* <span>je me déconnecte</span> *@
                    </a>
                </li>

            </ul>
        </nav>
    </header><!--Ici se termine le mainHeader-->

    <section id="pageContent" class="bigScreen">

        <aside id="leftCol">
            <nav id="dashNav">
                @RenderSection("DashNav")
            </nav>
        </aside><!--Ici se termine leftCol-->

        <main id="rightCol">
            @RenderBody()
        </main> <!--Ici se termine rightCol-->

    </section> <!--Ici se termine le pageContent-->

    <footer id="mainFooter">
        <div id="footer">
            <ul>
                <li><a href=#>Mentions légales</a></li>
                <li>SOUND TOGETHER &copy; 2024</li>
                <li><a href=#>Contact</a></li>
            </ul>
        </div>
    </footer> <!--Ici se termine le mainFooter-->

</body> <!--Ici se termine la page-->

</html>