<!DOCTYPE html>


<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="~/css/LayoutHeaderFooter.css" rel="stylesheet" />

</head>

<body>
    <div id="header"> <!-- barre -->
        <div class="header-container"> <!-- contenu de la barre -->
			<div class="left-section"> <!-- logo et nom du site -->
                 <img src="~/images/logoSoundTogether.svg" alt="Logo" class="logo-img">
                <h1 class="site-name">
                    <span class="bold">SOUND</span><span class="normal">TOGETHER</span>
                </h1>
            </div>
			<nav class="nav-menu">				<!-- menu -->
                <div class="nav-links">
                @Html.ActionLink("Catalogue", "Index", "Catalogue")
                @Html.ActionLink("S'inscrire", "CreateAccount", "Login")
                @Html.ActionLink("Se Connecter", "Connection", "Login")
                </div>
            </nav>
        </div>
    </div>
   

    <div id="main">
        <div id="menu">
            @*  @RenderSection("Menu") *@
        </div>

        <div id="contenu">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div class="footer-container">
           @Html.ActionLink("Mentions légales","Legal", "Home")
            <p><span class="bold">SOUND</span>TOGETHER © @DateTime.Now.Year</p>
            @Html.ActionLink("Contact","Contact", "Home",null, new { @class = "footer-link" })
        </div>
    </div>

</body>

</html>