<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <header id="mainHeader" class="@ViewData["Role"]">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/images/logoSoundTogetherH.svg" alt="Logo de la plateforme" id="logo">
        </a>
        <nav id="mainNav">
            <ul>
                <li>@Html.ActionLink("Catalogue", "Catalog", "Event")</li>
                <li><a href=# class="buttonNav">Espace personnel</a></li>
                <li>
                    <a href="@Url.Action("Disconnection", "Login")" class="buttonNav">
                        <img src="~/images/iconeDeconnexion.png" alt="Icone déconnexion" id="iconeNav">
                    </a>
                </li>

            </ul>
        </nav>
    </header><!--Ici se termine le mainHeader-->

    <section id="pageContent" class="bigScreen">

        <aside id="leftCol">
            <nav id="dashNav">
                @if (ViewData["Role"].ToString() == "ADMIN")
                {
                    <ul>
                        <li><a href="" class="buttonProfile"><img src="~/images/iconePrinter.png" alt="Icone Printer" class="icone">Imprimer rapport</a></li>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeGroupe.png" alt="Icone Groupe" class="icone">Groupe de discussion</a></li>
                        <li><a href="@Url.Action("ShowEvent", "Administration")" class="buttonProfile"><img src="~/images/iconeOrganiser.png" alt="Icone Organiser" class="icone">Valider une demande d'événement</a></li>
                        <li><a href="@Url.Action("ShowRegistration", "Administration")" class="buttonProfile"><img src="~/images/iconePen.png" alt="Icone Pen" class="icone">Traiter une demande d'inscription</a></li>
                        <li><a href="@Url.Action("DashBoardAdmin", "Login")" class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
                    </ul>
                }
                else if (ViewData["Role"].ToString() == "MEMBER")
                {
                    <ul>
                        <li><a href="@Url.Action("PurchaseHistory", "Ticket")" class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique d'achat</a></li>
                        <li><a href="@Url.Action("DashBoardMember", "Login")" class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
                    </ul>
                }
                else if (ViewData["Role"].ToString() == "ORGANIZER")
                {
                    <ul>
                        <li><a href="@Url.Action("CreateEvent", "Event")" class="buttonProfile"><img src="~/images/iconeOrganiser.png" alt="Icone Organiser" class="icone">Organiser événements</a></li>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeTools.png" alt="Icone Tools" class="icone">Services demandés</a></li>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique d'achat</a></li>
                        <li><a href="@Url.Action("DashBoardOrganizer", "Login")" class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
                    </ul>
                }
                else if (ViewData["Role"].ToString() == "PREMIUM")
                {
                    <ul>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique d'achat</a></li>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeGroupe.png" alt="Icone Groupe" class="icone">Groupe de discussion</a></li>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeMessage.png" alt="Icone Message" class="icone">Messagerie privée</a></li>
                        <li><a href="@Url.Action("CreateJamSession", "JamSession")" class="buttonProfile"><img src="~/images/iconeOrganiser.png" alt="Icone Organiser" class="icone">Organiser session jam</a></li>
                        <li><a href="@Url.Action("CatalogJamSession", "JamSession")" class="buttonProfile"><img src="~/images/iconeMusic.png" alt="Icone Music" class="icone">Participer session jam</a></li>
                        <li><a href="@Url.Action("DashBoardPremium", "Login")" class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
                    </ul>
                }
                else if (ViewData["Role"].ToString() == "PROVIDER")
                {
                    <ul>
                        <li><a href="@Url.Action("MyServices", "Service")" class="buttonProfile"><img src="~/images/iconeTools.png" alt="Icone Tools" class="icone">Services proposés</a></li>
                        <li><a href=# class="buttonProfile"><img src="~/images/iconeEuro.png" alt="Icone Euro" class="icone">Historique de vente</a></li>
                        <li><a href="@Url.Action("DashBoardProvider", "Login")" class="buttonProfile"><img src="~/images/iconeProfil.png" alt="Icone Profil" class="icone">Profil</a></li>
                    </ul>
                }
                else 
                {
                    <p>Erreur d'affichage, aucun role ne vous est associe. Veuillez contacter l'administrateur</p>
                }
            </nav>
        </aside><!--Ici se termine leftCol-->

        <main id="rightCol">
            @RenderBody()
        </main> <!--Ici se termine rightCol-->

    </section> <!--Ici se termine le pageContent-->

    <footer id="mainFooter">
        <div id="footer">
            <ul>
                <li><a href=#>Mentions légales</a></li>
                <li>SOUND TOGETHER &copy; 2024</li>
                <li><a href=#>Contact</a></li>
            </ul>
        </div>
    </footer> <!--Ici se termine le mainFooter-->

</body> <!--Ici se termine la page-->

</html>