@using Projet2Groupe1.Models;
@model List<Projet2Groupe1.Models.JamSession>
@{
    Layout = "_layoutDashboard";
    ViewBag.Title = "Catalogue des sessions de jam";
    ViewBag.Role = "PREMIUM";
}




<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/DeleteJamSession.css" rel="stylesheet" />
</head>

<h2 class="page-title">Retrouvez ici toutes les sessions de jam</h2>
<form id="sessionForm" method="post" action="@Url.Action("DeleteJamSessions", "JamSession")">
    <input type="hidden" id="sessionId" name="JamSession.Id" />
    <table id="jamSession" class="session-table">
        <thead>
            <tr class="session-header-row">
                <th class="session-header">Image</th>
                <th class="session-header">Titre de la session </th>
                <th class="session-header">Date de début de la session </th>
                <th class="session-header">Date de fin de la  session</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="session-row" data-id="@item.Id">
                    <td class="session-photo">
                        @{
                            String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(item.Photo) + "";


                            <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" src=@srcValue />

                        }
                    </td>
                    <td session-cell session-name>@item.Title</td>
                    <td session-cell session-start>@item.StartSession</td>
                    <td session-cell session-start>@item.EndSession</td>


                </tr>
            }
        </tbody>
    </table>
   
</form>