@model Projet2Groupe1.ViewModels.JamSessionViewModel

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "PREMIUM";
}
<head>
	<link href="~/css/CreateJamSession.css" rel="stylesheet" />
</head>



<div>
	<section id="FormSession">
		<h2 id="title">Créer votre session de jam</h2>
		<div id="centralColumn">

			@using (Html.BeginForm())
			{
				<div id="FirstRow">
					<div id="NameSession">
						@Html.LabelFor(m => Model.JamSession.Title, "Titre de la session") 
						@Html.TextBoxFor(m => Model.JamSession.Title)
						@Html.ValidationMessageFor(m => Model.JamSession.Title)
					</div>
					<div id="Description">
						@Html.LabelFor(m => Model.JamSession.Description, "Lieu") 
						@Html.TextBoxFor(m => Model.JamSession.Description)
						@Html.ValidationMessageFor(m => Model.JamSession.Description)
					</div>	
				</div>

				<div id="SecondRow">
					<div id="StartSession">
						@Html.LabelFor(m => Model.JamSession.StartSession, "Heure et date de début") 
						@Html.TextBoxFor(m => Model.JamSession.StartSession, new { Type = "datetime-local", })
						@Html.ValidationMessageFor(m => Model.JamSession.StartSession)
					</div>
					<div id="EndSession">
						@Html.LabelFor(m => Model.JamSession.EndSession, "Heure et date de fin") 
						@Html.TextBoxFor(m => Model.JamSession.EndSession, new { Type = "datetime-local" })
						@Html.ValidationMessageFor(m => Model.JamSession.EndSession)
					</div>
				</div>

				<div id="ThirdRow">
					<div id="StreetNumber">
						@Html.LabelFor(m => Model.JamSession.Adress.StreetNumber, "Numéro de rue") 
						@Html.TextBoxFor(m => Model.JamSession.Adress.StreetNumber)
						@Html.ValidationMessageFor(m => Model.JamSession.Adress.StreetNumber)
					</div>

					<div id="StreetName">
						@Html.LabelFor(m => Model.JamSession.Adress.StreetName, "Nom de voie") 
						@Html.TextBoxFor(m => Model.JamSession.Adress.StreetName)
						@Html.ValidationMessageFor(m => Model.JamSession.Adress.StreetName)
					</div>
				</div>

				<div id="FourthRow">
					<div id="ZipCode">
						@Html.LabelFor(m => Model.JamSession.Adress.ZipCode, "Code postal") 
						@Html.TextBoxFor(m => Model.JamSession.Adress.ZipCode)
						@Html.ValidationMessageFor(m => Model.JamSession.Adress.ZipCode)
					</div>

					<div id="City">
						@Html.LabelFor(m => Model.JamSession.Adress.City, "Ville") 
						@Html.TextBoxFor(m => Model.JamSession.Adress.City)
						@Html.ValidationMessageFor(m => Model.JamSession.Adress.City)
					</div>
				</div>

				<div id="FifthRow">
					<div id="PlaceNumber">
						@Html.LabelFor(m => Model.JamSession.NumberPlaces, "Nombre total de places") 
						@Html.TextBoxFor(m => Model.JamSession.NumberPlaces)
						@Html.ValidationMessageFor(m => Model.JamSession.NumberPlaces)
					</div>

					<div id="Instruments">
						@Html.LabelFor(m => Model.JamSession.Instruments, "Instruments") 
						@Html.TextBoxFor(m => Model.JamSession.Instruments)
						@Html.ValidationMessageFor(m => Model.JamSession.Instruments)
					</div>
				</div>
				
				
				<div id="finalBlock">
					<input id="btn" type="submit" value="Je crée ma session de jam" />
				</div>
			}
		</div>

	</section>
</div>

