@model Projet2Groupe1.ViewModels.JamSessionViewModel
@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Espace Personnel";
    ViewBag.Role = "PREMIUM";
}



<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/DeleteJamSession.css" rel="stylesheet" />
</head>

<h2 class="page-title">Vos sessions</h2>
<form id="sessionForm" method="post" action="@Url.Action("DeleteJamSessions", "JamSession")">
    <input type="hidden" id="sessionId" name="JamSession.Id" />
    <table id="jamSession" class="session-table">
        <thead>
            <tr class="session-header-row">
                <th class="session-header">Image</th>
                <th class="session-header">Titre de la session </th>
                <th class="session-header">Date de début de la session </th>
                <th class="session-header">Date de fin de la  session</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JamSessions)
            {
                <tr class="session-row"  data-id="@item.Id">
                    <td class="session-photo">
                        @{
                            String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(@item.Photo) + "";


                            <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" src=@srcValue />

                        }
                    </td>
                    <td session-cell session-name>@item.Title</td>
                    <td session-cell session-start>@item.StartSession</td>
                    <td session-cell session-start>@item.EndSession</td>
                    

                </tr>
            }
        </tbody>
    </table>
    <div>
        <button type="button" id="deleteButton" class="action-button">Supprimer une session</button>
    </div>
</form>


<script>
       let selectedRow = null;

    document.querySelectorAll('#jamSession tbody tr').forEach(row => {
        row.addEventListener('click', function () {
            if (selectedRow) {
                selectedRow.classList.remove('selected');
            }


            selectedRow = this;
            this.classList.add('selected');
            const sessionId = selectedRow.getAttribute('data-id');
            document.getElementById('sessionId').value = sessionId;
        });
    });


    document.getElementById('deleteButton').addEventListener('click', function () {
        if (!selectedRow) {
            alert('Selectionner une session à supprimer');
            return;
        }

        if (confirm('Voulez-vous vraiment supprimer cette session?')) {
            document.getElementById('sessionForm').submit();
        }
    });

</script>

