@model Projet2Groupe1.ViewModels.JamSessionViewModel
@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Premium!!";
    ViewBag.Role = "PREMIUM";
}



<h2>Manage Event</h2>
<head>
    <style>
        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        tr.selected {
            background-color: #f0f8ff;
        }

        button {
            padding: 5px 10px;
        }
    </style>
</head>
<form id="sessionForm" method="post" action="@Url.Action("DeleteJamSessions", "JamSession")">
    <input type="hidden" id="sessionId" name="JamSession.Id" />
    <table id="jamSession">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre de la session </th>
               
                <th>Date de début de la session </th>
                 <th>Date de fin de la  session</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JamSessions)
            {
                <tr data-id="@item.Id">
                    <td>
                        @{
                            String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(@item.Photo) + "";


                            <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" src=@srcValue />

                        }
                    </td>
                    <td>@item.Title</td>
                    <td>@item.StartSession</td>
                    <td>@item.EndSession</td>
                    

                </tr>
            }
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <button type="button" id="deleteButton">Supprimer une session</button>
    </div>
</form>


<script>
       let selectedRow = null;

    document.querySelectorAll('#jamSession tbody tr').forEach(row => {
        row.addEventListener('click', function () {
            if (selectedRow) {
                selectedRow.classList.remove('selected');
            }


            selectedRow = this;
            this.classList.add('selected');
            const sessionId = selectedRow.getAttribute('data-id');
            document.getElementById('sessionId').value = sessionId;
        });
    });


    document.getElementById('deleteButton').addEventListener('click', function () {
        if (!selectedRow) {
            alert('Selectionner une session à supprimer');
            return;
        }

        if (confirm('Voulez-vous vraiment supprimer cette session?')) {
            document.getElementById('sessionForm').submit();
        }
    });

</script>

