@model Projet2Groupe1.ViewModels.MemberViewModel

@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Inscription";
}

<!DOCTYPE html>
<head>
    <link href="~/css/RegisterMember.css" rel="stylesheet" />
</head>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inscription adherent</title>

</head>

<div>

    <section id="FormMember">
        <div id="centralColumn">
           <h2 id="title">Inscrivez-vous gratuitement</h2>
           @using (Html.BeginForm())
            {
                <div id="Input">
                    <div id="FirstRow">
                        <div id="FirstName">
                            @Html.LabelFor(m => Model.User.FirstName, "votre prenom")
                            @Html.TextBoxFor(m => Model.User.FirstName)
                            @Html.ValidationMessageFor(m => Model.User.FirstName)
                        </div>

                        <div id="LastName">
                            @Html.LabelFor(m => Model.User.LastName, "votre nom")
                            @Html.TextBoxFor(m => Model.User.LastName)
                            @Html.ValidationMessageFor(m => Model.User.LastName)
                        </div>
                    </div>
                    <div id="SecondRow">
                        <div id="Age">
                            @Html.LabelFor(m => Model.Member.Age, "votre age")
                            @Html.TextBoxFor(m => Model.Member.Age)
                            @Html.ValidationMessageFor(m => Model.Member.Age)
                        </div>

                        <div id="Phone">
                            @Html.LabelFor(m => Model.User.Phone, "votre numero de telephone")
                            @Html.TextBoxFor(m => Model.User.Phone)
                            @Html.ValidationMessageFor(m => Model.User.Phone)
                        </div>
                    </div>
                    <div id="ThirdRow">
                        <div id="Mail">
                            @Html.LabelFor(m => Model.User.Mail, "votre adresse mail")
                            @Html.TextBoxFor(m => Model.User.Mail)
                            @Html.ValidationMessageFor(m => Model.User.Mail)
                        </div>

                        <div id="Password">
                            @Html.LabelFor(m => Model.User.Password, "mot de passe")
                            @Html.PasswordFor(m => Model.User.Password)
                            @Html.ValidationMessageFor(m => Model.User.Password)
                        </div>
                    </div>
                    <div id="FourthRow">
                        <div id="City">
                            @Html.LabelFor(m => Model.Member.City, "votre ville")
                            @Html.TextBoxFor(m => Model.Member.City)
                            @Html.ValidationMessageFor(m => Model.Member.City)
                        </div>

                        <div id="ZipCode">
                            @Html.LabelFor(m => Model.Member.ZipCode, "votre code postal")
                            @Html.TextBoxFor(m => Model.Member.ZipCode)
                            @Html.ValidationMessageFor(m => Model.Member.ZipCode)
                        </div>
                    </div>
                    
                </div>
                <div id="finalBlock">
                    <div id="IsPremium">
                        @Html.CheckBoxFor(m => Model.Member.IsPremium, new { id = "IsPremiumCheckbox"} )
                        @Html.LabelFor(m => Model.Member.IsPremium, "Activer le mode Premium pour plus  de fonctionnalités")
                    </div>

                    <div id="Newsletter">
                        @Html.CheckBoxFor(m => Model.User.Newsletter)
                        @Html.LabelFor(m => Model.User.Newsletter, "J'accepte de recevoir des offres de Soundtogether")
                    </div>
                    <div id="Conditions générales">
                       <p>En cliquant sur s'inscrire vous acceptez les conditions générales de SoundTogether</p>
                    </div>
                </div>

                <input id="btn" type="submit" value="Je m'inscris'" />
            }
        </div>
        
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("DOM entièrement chargé et analysé");
            let IsPremium = document.getElementById("IsPremiumCheckbox");
            let BlockPaiement = document.getElementById("paiementContent");

            IsPremium.addEventListener('change', function() {
                let PremiumChecked = IsPremium.checked;
                if (PremiumChecked) {
                    BlockPaiement.style.display = "block";
                } else {
                    BlockPaiement.style.display = "none";
                }
            });
        });
    </script>
</div>

</html>