@model Projet2Groupe1.ViewModels.OrganizerViewModel
@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Inscription";

}


    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap" rel="stylesheet">
    


<div style="display: flex; height: 100vh;">
    <!-- Section gauche -->
    <aside id="leftColumn">
        <p>Section gauche</p>
    </aside>

    <!-- Section centrale avec le formulaire -->
    <main style="flex: 1; background-color: #f1f1f1; display: flex; align-items: center; justify-content: center;">
        <div style="width: 80%; padding: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); background-color: #f9f9f9; border-radius: 8px;">
            <h2>Inscrivez-vous gratuitement</h2>
            

            @using (Html.BeginForm())
            {
                <div style="display: flex; gap: 20px; align-items: center;">
                <input type="radio" id="entreprise" name="organisateur" value="ENTREPRISE">
                <label for="entreprise">Entreprise</label>
               
                <br>
                <input type="radio" id="association" name="organisateur" value="ASSOCIATION">
                <label for="association">Association</label>

                <br>
                <input type="radio" id="organisme" name="organisateur" value="ORGANISME">
                <label for="organisme">Organisme public</label>
                </div>
                <div>
                    @Html.LabelFor(m => Model.User.LastName, "Votre Nom") :
                    @Html.TextBoxFor(m => Model.User.LastName)
                    @Html.ValidationMessageFor(m => Model.User.LastName)
                </div>

                <div>
                    @Html.LabelFor(m => Model.User.FirstName, "Votre prénom") :
                    @Html.TextBoxFor(m => Model.User.FirstName)
                    @Html.ValidationMessageFor(m => Model.User.FirstName)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.Function, "Fonction au sein de l'entreprise") :
                    @Html.TextBoxFor(m => Model.Organizer.Function)
                    @Html.ValidationMessageFor(m => Model.Organizer.Function)
                </div>

                <div>
                    @Html.LabelFor(m => Model.User.Phone, "Votre numéro de téléphone") :
                    @Html.TextBoxFor(m => Model.User.Phone)
                    @Html.ValidationMessageFor(m => Model.User.Phone)
                </div>

                <div>
                    @Html.LabelFor(m => Model.User.Mail, "Votre adresse mail") :
                    @Html.TextBoxFor(m => Model.User.Mail)
                    @Html.ValidationMessageFor(m => Model.User.Mail)
                </div>

                <div>
                    @Html.LabelFor(m => Model.User.Password, "Mot de passe") :
                    @Html.PasswordFor(m => Model.User.Password)
                    @Html.ValidationMessageFor(m => Model.User.Password)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.Denomination, "Dénomination sociale") :
                    @Html.TextBoxFor(m => Model.Organizer.Denomination)
                    @Html.ValidationMessageFor(m => Model.Organizer.Denomination)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.RIB, "RIB") :
                    @Html.TextBoxFor(m => Model.Organizer.RIB)
                    @Html.ValidationMessageFor(m => Model.Organizer.RIB)
                </div>
                <div>
                    @Html.LabelFor(m => Model.Organizer.Adress.ZipCode, "Code postal") :
                    @Html.TextBoxFor(m => Model.Organizer.Adress.ZipCode)
                    @Html.ValidationMessageFor(m => Model.Organizer.Adress.ZipCode)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.Adress.City, "Ville") :
                    @Html.TextBoxFor(m => Model.Organizer.Adress.City)
                    @Html.ValidationMessageFor(m => Model.Organizer.Adress.City)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.Adress.StreetNumber, "Numéro de rue") :
                    @Html.TextBoxFor(m => Model.Organizer.Adress.StreetNumber)
                    @Html.ValidationMessageFor(m => Model.Organizer.Adress.StreetNumber)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.Adress.StreetName, "Nom de la rue") :
                    @Html.TextBoxFor(m => Model.Organizer.Adress.StreetName)
                    @Html.ValidationMessageFor(m => Model.Organizer.Adress.StreetName)
                </div>

                <div>
                    @Html.LabelFor(m => Model.Organizer.Adress.NamedPlace, "Lieu-dit") :
                    @Html.TextBoxFor(m => Model.Organizer.Adress.NamedPlace)
                    @Html.ValidationMessageFor(m => Model.Organizer.Adress.NamedPlace)
                </div>
                <div>
                    @Html.LabelFor(m => Model.Organizer.Adress.StreetComplement, "Complément d'adresse") :
                    @Html.TextBoxFor(m => Model.Organizer.Adress.StreetComplement)
                    @Html.ValidationMessageFor(m => Model.Organizer.Adress.StreetComplement)
                </div>

                <div>
                    @Html.LabelFor(m => m.User.Newsletter, "J’accepte de recevoir des offres de Soundtogether")
                    @Html.CheckBoxFor(m => m.User.Newsletter)
                </div>

                <input type="submit" value="S'inscrire" />
            }
        </div>
    </main>

    <!-- Section droite -->
    <aside style="flex: 1; background-color: #f1f1f1; display: flex; align-items: center; justify-content: center;">
        <p>Section droite</p>
    </aside>
</div>
