@using Projet2Groupe1.Models
@using System.Security.Claims
@model Projet2Groupe1.Models.Service

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profile du Prestataire !!";
    ViewBag.Role = "PROVIDER";
}


<div>
    @using(IServiceService iss = new ServiceService(new DataBaseContext()))
    {
        <h2>Ajouter un Service</h2>
        @using(Html.BeginForm())
        {
            <div>
                <div>
                    <div>
				        @Html.LabelFor(m => Model.NameService, "nom du service")
				        @Html.TextBoxFor(m => Model.NameService)
                        @Html.ValidationMessageFor(m => Model.NameService)
                    </div>
                    <div>
                        @Html.LabelFor(m => Model.TypeService, "type de service")
                        @Html.DropDownListFor(mbox => Model.TypeService, new SelectList(Enum.GetValues(typeof(TypeService))
                            .Cast<TypeService>()
                            .Select(e => new { Value = e, Text = iss.GetDisplayName(e) }),
                            "Value",
                            "Text"), "Selectionner un type")
                        @Html.ValidationMessageFor(m => Model.TypeService)
                    </div>
                    <div>
                        @Html.LabelFor(m => Model.QuantityService, "quantite du service propose")
                        @Html.TextBoxFor(m => Model.QuantityService)
                        @Html.ValidationMessageFor(m => Model.QuantityService)
                    </div>
                    <div>
                        @Html.LabelFor(m => Model.DescriptionService, "description du service propose")
                        @Html.TextAreaFor(m => Model.DescriptionService)
                        @Html.ValidationMessageFor(m => Model.DescriptionService)
                    </div>
                    <div>
                        @Html.LabelFor(m => Model.PriceService, "prix du service")
                        @Html.TextBoxFor(m => Model.PriceService)
                        @Html.ValidationMessageFor(m => Model.PriceService)
                    </div>
                    @Html.HiddenFor(m => Model.UserId, new { ValueTask = "@"})
                </div>
            </div>
            <input type="submit" value="je crée mon événement" />
        }
    }
</div>
