@model Projet2Groupe1.ViewModels.EventViewModel
@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profile de l'Admin !!";
}
    
    @using (Html.BeginForm())


    {
        <div>
            @Html.LabelFor(m => Model.Event.NameEvent, "Nom de l'événement") :
            @Html.TextBoxFor(m => Model.Event.NameEvent)
            @Html.ValidationMessageFor(m => Model.Event.NameEvent)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.StartEvent, "Heure de début") :
            @Html.TextBoxFor(m => Model.Event.StartEvent, new { Type = "datetime-local",})
            @Html.ValidationMessageFor(m => Model.Event.StartEvent)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.EndEvent, "Heure de fin") :
            @Html.TextBoxFor(m => Model.Event.EndEvent, new { Type = "datetime-local" })
            @Html.ValidationMessageFor(m => Model.Event.EndEvent)
        </div>

        @*Ici débute l'adresse ========================================================================*@
        <div>
            @Html.LabelFor(m => Model.Event.Adress.StreetNumber, "Numéro de rue") :
            @Html.TextBoxFor(m => Model.Event.Adress.StreetNumber)
            @Html.ValidationMessageFor(m => Model.Event.Adress.StreetNumber)
        </div>
        
        <div>
            @Html.LabelFor(m => Model.Event.Adress.StreetName, "Nom de voie") :
            @Html.TextBoxFor(m => Model.Event.Adress.StreetName)
            @Html.ValidationMessageFor(m => Model.Event.Adress.StreetName)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.Adress.ZipCode, "Code postal") :
            @Html.TextBoxFor(m => Model.Event.Adress.ZipCode)
            @Html.ValidationMessageFor(m => Model.Event.Adress.ZipCode)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.Adress.City, "Ville") :
            @Html.TextBoxFor(m => Model.Event.Adress.City)
            @Html.ValidationMessageFor(m => Model.Event.Adress.City)
        </div>

        @*Ici se termine l'adresse ======================================================================*@

        <div>
            @Html.LabelFor(m => Model.Event.Artist.NickNameArtist, "Artiste(s)") :
            @Html.TextBoxFor(m => Model.Event.Artist.NickNameArtist)
            @Html.ValidationMessageFor(m => Model.Event.Artist.NickNameArtist)
        </div>
        
        <div>
            @Html.LabelFor(m => Model.Event.TypeEvent, "Type de l'événement") :
            @Html.DropDownListFor(
                     m => Model.Event.TypeEvent,
                     new SelectList(Enum.GetValues(typeof(Projet2Groupe1.Models.TypeEvent))),
                     "Sélectionnez un type"
                     )
            @Html.ValidationMessageFor(m => Model.Event.TypeEvent)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.Ticket.NumberTotalTicket, "Nombre total de billets à vendre") :
            @Html.TextBoxFor(m => Model.Event.Ticket.NumberTotalTicket)
            @Html.ValidationMessageFor(m => Model.Event.Ticket.NumberTotalTicket)
        </div>


        <div>
            @Html.LabelFor(m => Model.Event.Ticket.Category, "Catégorie de billet") :
            @Html.TextBoxFor(m => Model.Event.Ticket.Category)
            @Html.ValidationMessageFor(m => Model.Event.Ticket.Category)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.Ticket.UnitPriceTicket, "Prix unitaire") :
            @Html.TextBoxFor(m => Model.Event.Ticket.UnitPriceTicket)
            @Html.ValidationMessageFor(m => Model.Event.Ticket.UnitPriceTicket)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.Service.TypeService, "Type de service") :
            @Html.TextBoxFor(m => Model.Event.Service.TypeService)
            @Html.ValidationMessageFor(m => Model.Event.Service.TypeService)
        </div>

        <div>
            @Html.LabelFor(m => Model.Event.Service.QuantityService, "Quantité de service") :
            @Html.TextBoxFor(m => Model.Event.Service.QuantityService)
            @Html.ValidationMessageFor(m => Model.Event.Service.QuantityService)
        </div>

        <input type="submit" value="je crée mon événement" />
    }
