@model Projet2Groupe1.ViewModels.EventViewModel
@{
    ViewData["Role"] = TempData["Role"];
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Achat billets";
}

<div>

<h1>Mon événement </h1>

<table border="1">
    <tr>
        <th>Nom</th>
        <th>Heure de début</th>
        <th>Heure de fin</th>
        <th>Type d'événement</th>
     
    </tr>
    
        <tr>
            <td>@Model.Event.NameEvent</td>
            <td>@Model.Event.StartEvent</td>
            <td>@Model.Event.EndEvent</td>
            <td>@Model.Event.TypeEvent.</td>
    
            

         </tr>
    
</table>

    <div>
		@if (Model.Event.PhotoData != null)
		{
            String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(Model.Event.PhotoData) + "";
            
               
                <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" src=@srcValue />
            
		}
        else{ 
       <img width="200" height="200" style="border:1px solid #000000" 
         src="@Url.Action("GetDefaultImage", "Event", new { type = Model.Event.TypeEvent })" /> 

         }
</div>

<div>
    
    <input id="txtFile" type="file" value="Upload File" />

    <button id="btnSave">Sauvegarder image</button>


    <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" />
</div>

   <!--~ pour bien récup le fichier -->
    <script type="text/javascript" src="~/js/jquery-3.7.1.min.js"></script>

    <script type="text/javascript">


        $("#txtFile").change(function (event) {
            var files = event.target.files;
            if (files.length > 0) {
                $("#imgViewer").attr("src", window.URL.createObjectURL(files[0]));
            }
        });

        $("#btnSave").click(function () {
            var files = $("#txtFile").prop("files");

             var formData = new FormData();
            formData.append("EventId", "@Model.Event.Id");

            if (files.length > 0) {
               
                formData.append("EventPicture", files[0]);
				console.log("Image personnalisée sélectionnée");
                
            }else{
                console.log("Pas d'image sélectionnée, l'image par défaut sera utilisée")
            }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SaveFile", "Event")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            alert("Image sauvegardée");
                            location.href("/Event/DetailsEvent/"+@Model.Event.Id); // Recharge la page pour voir la nouvelle image
                        } else {
                            alert("Erreur: " + response.message);
                        }
                    },
                           error: function (error) {
                    console.log('Erreur AJAX:', error);
                    alert("Erreur lors de la sauvegarde");
                }
            });
        });

        function ResetFields() {
            $("#txtFile").val("");
            $("#imgViewer").attr("src", "");
        }
    </script>
    </div>