@model Projet2Groupe1.ViewModels.HandlerEventViewModel
@using System.Security.Claims
@using Projet2Groupe1.Models

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Gestion des evenements";
    ViewBag.Role = "ADMIN";

}


<div id="OrganizerTable">
    <h2>Gestion de la validation des Evenements</h2>
    @if (Model.EventStatusPending.Count() > 0)
    {
        <table border="1" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de l'evenement</th>
                    <th>Type d'evenement</th>
                    <th>Photo de l'evenement</th>
                    <th>Etat de la demande</th>
                    <th>Decision</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var evenment in Model.EventStatusPending)
                {
                    @using (Html.BeginForm("HandlerEvent", "Administration", FormMethod.Post))
                    {
                        <tr>
                            <td>@evenment.Id</td>
                            <td>@evenment.NameEvent</td>
                            <td>@evenment.TypeEvent</td>
                            <td>

                                @{
                                    String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(@evenment.PhotoData) + "";


                                    <img id="imgViewer" width="200" height="200" style="border:1px solid #000000" src=@srcValue />

                                }
                            </td>
                            <td>
                                <select id="StatusRegistration" name="StatusRegistration">
                                    <option value="" disabled selected>@evenment.StatusRegistration.ToString()</option>
                                    <option value="@statusRegistration.ACCEPTED">Accepter</option>
                                    <option value="@statusRegistration.REFUSED">Refuser</option>
                                </select>
                            </td>
                            <td>
                                <input type="hidden" name="Id" value="@evenment.Id" />
                                <button type="submit">Mettre à jour</button>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    }
    else
    {
        <div>Aucune demande de validation en attente</div>
    }
</div>