@model Projet2Groupe1.Models.Event

@{
    Layout = "_layoutHeaderFooter";
    ViewBag.Title = "Achat billets";
}

<h1>PANIER</h1>

<div>Achat billets </div>

<p>@Model.Artist.NickNameArtist</p>

<p>@Model.NameEvent</p>
<p>PLus que @Model.Ticket.NumberTotalTicket billets disponibles</p>

<p>Prix unitaire : @Model.Ticket.UnitPriceTicket €</p>

<div>Je suis un billet</div>
<!-- renvoie "connexion obligatoire" ou ouvre champs pour entrer info carte bleue-->

@using (Html.BeginForm())
{
    <div>
        @Html.Label("Qté Billet") :
        @Html.TextBox("numberTicket")
    </div>

    
    <input type="submit" value="Acheter Billets" />
}



@* @{ *@
@*     ViewBag.Result = ViewBag.Result ?? 0; // Valeur par défaut *@
@* } *@

@* <form method="post"> *@
@*     <label for="number1">Nombre 1:</label> *@
@*     <input type="number" name="number1" id="number1" required /> *@

@*     <label for="number2">Nombre 2:</label> *@
@*     <input type="number" name="number2" id="number2" required /> *@

@*     <button type="submit">Calculer la somme</button> *@
@* </form> *@

@* <p>Résultat: @ViewBag.Result</p> *@