@model List<Projet2Groupe1.ViewModels.TicketViewModel>

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Profil du Prestataire !";
    //ViewBag.Role = "MEMBER";

}

<div>Vos réservations</div>

@foreach(var ticket in Model){
	<div>
		<p>@ticket.Event.NameEvent</p>
        <p>@ticket.Event.Artist.NickNameArtist</p>
		<p>@ticket.Event.StartEvent</p>
		<p>@ticket.Event.Billetterie.UnitPriceTicket €</p>
        <p>@ticket.QuantityPurchased</p>
	</div>
}

