@model List<Projet2Groupe1.ViewModels.TicketViewModel>

@{
    Layout = "_LayoutDashboard";
    ViewBag.Title = "Acheter Ticket";
}

<h2>Vos réservations</h2>

@foreach(var ticket in Model){
	<div class="PurchaseHistoryInformationDisplay">
		<div class="PurchaseHistoryInformationPlace">
			<div class="PurchaseHistoryDate">
				<p>@ticket.Event.StartEvent.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture)</p>
				<p>@ticket.Event.StartEvent.ToString("dd", System.Globalization.CultureInfo.InvariantCulture)</p>
			</div>
			<div class="PurchaseHistoryPlace">
				<div class="PurhcaseHistoryIconName">
					<img class="PurchaseHistoryIcon" src="~/images/iconeTicket.png" />
					<p>@ticket.Event.NameEvent</p>
				</div>
				<div class="PurhcaseHistoryIconAdress">
					<img class="PurchaseHistoryIcon" src="~/images/iconeLocation.png" />
					<div class="PurchaseHistoryAdress">
						<p>@ticket.Event.Adress.City @ticket.Event.Adress.StreetName</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="PurchaseHistoryInfoSupp">
			<div class="PurchaseHistoryQuantityPrice">
				<div class="PurchaseHistoryPriceTicketLabel">
					<p>P.U.</p>
					<p>NB Billets</p>
				</div>
				<div class="PurchaseHistoryPriceTicketData">
					<p>@ticket.Event.Billetterie.UnitPriceTicket €</p>
					<p>@ticket.QuantityPurchased</p>
				</div>
			</div>

			<div class="PurchaseHistoryImg">
				@if (ticket.Event.PhotoData != null)
				{
					String srcValue = "data:image.jpg;base64," + Convert.ToBase64String(ticket.Event.PhotoData);
					<img class="event-card-image" src="@srcValue" />
				}
				else
				{
					<img class="event-card-image"
						 src="@Url.Action("GetDefaultImage", "Event", new { type = ticket.Event.TypeEvent })" />
				}
			</div>
		</div>
        <div class="PurchaseHistoryTotal">
			<p>Total</p>
			<p>@(ticket.Event.Billetterie.UnitPriceTicket * ticket.QuantityPurchased) €</p>
		</div>
	</div>
}
