@model Projet2Groupe1.ViewModels.PaymentViewModel
@{
    if ((bool)ViewData["IsAuthenticated"])
    {
        Layout = "_LayoutDashboard";
    }
    else
    {
        Layout = "_layoutHeaderFooter";
    }
    ViewBag.Title = "Achat valide";
}

<h2>Opération réussie!</h2>

<div class="paymentView">

	<div id="paymentContent">

		<h3>Coordonées bancaire</h3>


		@using (Html.BeginForm())
		{
			<input type="hidden" name="userID" value="@TempData["userId"]" />
			<input type="hidden" name="MemberId" value="@TempData["MemberId"]" />


			<div class="inputPayment">

				@Html.TextBoxFor(m => Model.CreditCardNumber, new { placeholder = "Numero de carte", @class = "fieldPayment" })

				<div class="cardIcon">

					<img src="~/images/iconBannerCard.jpg" alt="Icone Cloud" class="icone">
				</div>
			</div>

			<div class="inputPayment">

				@Html.TextBoxFor(m => Model.ExpirationDate, new { placeholder = "MM/AA", @class = "fieldPayment" })

				@Html.PasswordFor(m => Model.VerificationNumber, new { placeholder = "CVV", @class = "fieldPayment" })
			</div>


			<h3>Titulaire de la carte</h3>

			<div class="inputPayment">

				@Html.TextBoxFor(m => Model.CardHolder, new { placeholder = "Nom", @class = "fieldPayment" })
			</div>

			<div class="submitPayment">
				<input id="buttonPayment" type="submit" value="Payer" />
			</div>
		}

	</div>
</div>